*{
    margin: 0;
    padding: 0;
}
/* nav start */
.content{
    display: flex;
}
nav>ul{
    list-style: none;
}
/* banner start */
.banner{
    display: flex;
    background-color: rgba(140, 87, 238, 0.05), rgba(241, 68, 174, 0.05);
}
/* banner-2 started */
.banner-2{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}